---
interface Props {
  nombre: string;
  imagen: string;
}

const { nombre, imagen } = Astro.props;
---

<li
  class="flex items-center justify-center px-2 py-1 gap-1 bg-[#F6F6F6] rounded-md"
>
  <img alt={nombre} src={imagen}  class="size-[20px]" loading="lazy" />
  <span class="text-black">{nombre}</span>
</li>
