---
interface Props {
  name: string;
  url: string;
  img: string;
}
const { name, url, img } = Astro.props;
---

<a href={url} class="bg-[#0B0B0B] rounded-full p-2">
  <img alt={name} src={img} class="size-[30px]" loading="lazy"/>
</a>