---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Principal from "../components/Principal.astro";
import Secciones from "../components/Secciones/Index.astro";
import Aprendizajes from "../components/Aprendizajes/Index.astro";
import Footer from "../components/Footer.astro";
import Proyectos from "../components/Proyecto/Index.astro";
---

<Layout title="Portafolio de Francisco Meléndez">
  <main class="bg-black flex justify-center items-center flex-col">
    <Header />
    <Principal />
    <Secciones />
    <Aprendizajes />
    <Proyectos/>
    <Footer/>
  </main>
</Layout>
