---
import Icon from "../Card/Icon.astro";

interface Tecnologia {
  nombre: string;
  url: string;
}

interface Aprendizaje {
  titulo: string;
  iconos: Tecnologia[];
}

interface Props {
  aprendizaje: Aprendizaje;
}

const { aprendizaje } = Astro.props;
---

<section
  class="flex items-center justify-center flex-col gap-4 my-4"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  <h1 class="text-[#fff] text-[26px] text-center">{aprendizaje.titulo}</h1>
  <section class="gap-2 flex flex-row">
    <ul class="flex gap-2 flex-wrap justify-center items-center">
      {
        aprendizaje.iconos.map((icono) => (
          <Icon nombre={icono.nombre} imagen={icono.url} />
        ))
      }
    </ul>
  </section>
</section>
