---
import Seccion from "./Seccion.astro";
---

<Seccion name="Acerca de" etiqueta="acerca">
  <p class="text-[#F6F6F6] font-extralight text-[24px] max-lg:text-[20px]">
    ¡Hola! Soy Francisco de Jesús Meléndez Simplina, <strong> apasionado de la programación y el diseño web.</strong> Como <strong>estudiante autodidacta</strong>, disfruto colaborando y resolviendo problemas de programación.
  </p>
  <p class="text-[#F6F6F6] font-extralight text-[24px] max-lg:text-[20px]">
    Mi objetivo es continuar <strong> desarrollándome tanto en habilidades de programación como a nivel personal.</strong> Me dedico a <strong> estudiar y explorar de manera independiente</strong>, y tengo experiencia con diversas tecnologías, frameworks, librerías y lenguajes de programación.
  </p>
</Seccion>

