---
import Seccion from "./Seccion.astro";
---

<Seccion name="Acerca" etiqueta="acerca">
  <p class="text-[#F6F6F6] font-extralight text-[24px] max-lg:text-[20px]">
    ¡Hola! Soy <strong>Francisco de Jesús Meléndez Simplina</strong>, un
    entusiasta de la programación y el diseño web. Soy un <strong
      >estudiante autodidacta</strong
    >, me gusta <strong>colaborar con otros y resolver problemas</strong> de lógica.
    <strong>Mi objetivo es continuar creciendo</strong> tanto en habilidades de <strong
      >programación</strong
    > como a <strong>nivel personal</strong>
  </p>
</Seccion>
<Seccion name="Aprendizaje" etiqueta="aprendizaje">
  <p class="text-[#F6F6F6] font-extralight text-[24px] max-lg:text-[20px]">
    Mi enfoque principal es ser <strong>autodidacta</strong>, especialmente en
    programación. Me gusta <strong>estudiar y explorar por mí</strong> cuenta para
    mejorar mis habilidades. He tenido interacción con las <strong
      >tecnologías, frameworks, librerias y lenguajes programación</strong
    > siguientes:
  </p>
</Seccion>
