---
interface Props {
  name: string;
  etiqueta: string;
}
const { name, etiqueta } = Astro.props;
---

<div
  class="flex items-center justify-center flex-col max-w-[1000px] text-center my-10"
  id={etiqueta} 
  data-aos="fade-up"
>
  <h1 class="text-[#F6F6F6] text-[50px] font-extrabold">{name}</h1>
  <slot />
</div>
