<header class="p-4" data-aos="fade-down">
  <nav>
    <ul
      class="flex flex-row justify-center items-center gap-10 font-bold text-[#F6F6F6]"
    >
      <li><a href="#acerca">Acerca</a></li>
      <li><a href="#aprendizaje">Aprendizaje</a></li>
      <li><a href="#proyectos">Proyectos</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
  </nav>
</header>
