---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Estudiante de ingenieria en sistemas de información, un entusiasta de la programación en busca de oportunidades para crecer y desarrollarme en el mundo de la tecnología. He tenido interacción con las tecnologías, frameworks, librerias y lenguajes programación como Astro, React, Javascript, Tailwind, Python, entre otros. En el caso de Bases de datos he utilizado Sql server, Mysql, Pocketbase y las herrmientas que normalmente utilizo son Visual Studio Code, Figma y Visual Studio." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Perfil.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script src="../JS/Scroll.js">
    </script>
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
  }
</style>
